<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/maxresdefault.jpg">
    </a>
    <h1>Welcome to SMWKS-TEAM1 Team</h1>
    
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-link"></span> Team Members</h3>
      <ul>
        <li><a href="mailto:anushka.sagar@fox.com">anushka.sagar@fox.com</a></li>
        <li><a href="mailto:ghanashyamj@fox.com">ghanashyamj@fox.com</a></li>
        <li><a href="mailto:jonathan.popp@fox.com">jonathan.popp@fox.com</a></li>
        <li><a href="mailto:jose.luna@fox.com">jose.luna@fox.com</a></li>
        <li><a href="mailto:premsagarpraveen@gmail.com">premsagarpraveen@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-link"></span> Custom Endpoints</h3>
      <ul>
        <li><a href="/salesforce">Sales Force Product Types</a></li>
        <li><a href="/account">Sales Force Account Info</a></li>
      </ul>
    </div>
  </div>
</div>


</body>
</html>
